certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
Flask==1.1.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.18.1
olefile==0.46
Pillow==7.1.2
pyTelegramBotAPI==3.7.1
PyYAML==5.3.1
requests==2.23.0
six==1.15.0
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl
urllib3==1.25.9
Werkzeug==1.0.1
wincertstore==0.2
